{% extends 'base.html' %}

{% if error_msg %}
  {% block content %}
    <div>
      <h2>Error</h2>
      <p>{{ error_msg }}</p>
    </div>
  {% endblock %}
{% else %}
  {% block content %}
    <div id="react-container">
    </div>
  {% endblock %}
{% endif %}

{% block scripts %}
  {{ super() }}
  <script src="{{ get_static_path('commons.js') }}" type="text/javascript"></script>
  <script id="react-props" type="application/json">{{ props|safe }}</script>

  {% if spotify_data %}
  {# We want to load the latest version of the SDK instead of requiring manual update #}
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  {% endif %}
{% endblock %}
